<section id="popup-structure" class="popup-structure" tabindex="1000">
	<div id="popup-structure__back" class="popup-structure__layer popup-structure__layer--back">
		<div class="popup-structure__container"></div>
	</div>
	<div id="popup-structure__overlay" class="popup-structure__overlay">
		<div id="popup-structure__loading" class="popup-structure__loading">
			<svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
				<circle fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30" class="circle"></circle>
			</svg>
		</div>
	</div>
	<div id="popup-structure__front" class="js-popup-out popup-structure__layer popup-structure__layer--front">
		<div class="js-popup-out popup-structure__container"></div>
	</div>
</section>
