// Escala de grises
colorLightGrey = #E8ECEC
colorGrey = darken(colorLightGrey, 10%)
colorDarkGrey = darken(colorLightGrey, 80%)

// Colores para fuentes
colorFont = darken(colorLightGrey, 90%)
colorLightFont = darken(colorLightGrey, 40%)

// Colores generales
colorStandard = #223044
colorGreen = #2be182
colorRed = #fd6153
colorAqua = #33E9BA
colorYellow = #ffde67
colorBlue = #2895F1
colorSkyBlue = #4DDAFE
colorLight = rgba(white, 0.85)
colorDark = rgba(black, 0.85)
